@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --gray-700: #363636;
  --gray-500: #404040;
  --gray-300: #424242;
  --fontColor: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--gray-700);
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 54.375rem;
  margin: 0 auto;
}

.container h1 {
  color: var(--fontColor);
  font-weight: normal;
  font-size: 1.75rem;
  text-align: left;
  margin: 0.5rem;
  padding-top: 0.875rem;
}

.container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 200px;
  flex-wrap: wrap;
}

.container ul li {
  background: var(--gray-500);
  width: 200px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.container ul li span {
  display: block;
  color: var(--fontColor);
  font-family: system-ui;
  padding: 0.25rem;
}

@media (max-width: 600px) {
  .container h1 {
    text-align: center;
    padding-bottom: 1rem;
  }

  .container ul li {
    max-width: 10.625rem;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .container h1 {
    text-align: center;
    padding-bottom: 1rem;
  }
}

@media (max-width: 320px) {
  .container ul li {
    max-width: 8.75rem;
    width: 100%;
  }
}
